BasedOnStyle: LLVM

AlignAfterOpenBracket: AlwaysBreak
AlignTrailingComments: false

AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
BreakBeforeBraces: Allman
